@font-face {
  font-family: "RalewayExtraBold";
  src: url('./fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: "RalewayBold";
  src: url('./fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSansBold";
  src: url('./fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSansRegular";
  src: url('./fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "LoraItalic";
  src: url('./fonts/Lora/Lora-Italic.ttf') format('truetype');
}