@import "variable";

.about, .services, .news, .clients, .partners {
  padding: 90px 0;

  .title {
    h2 {
      font-size: 30px;
      font-family: $font-ralbold;
      color: $dark-grey-color;
      text-transform: uppercase;
      margin-top: 0;
    }

    .title-line {
      font-size: 16px;
      font-family: $font-italic;
      color: $dark-grey-color;
    }
  }
}

.about {

  .about-btn-area {
    float: left;
    margin-top: 20px;
  }

  .content {
    p {
      font-size: 14px;
      font-family: $font-regular;
      color: $grey-color;
      line-height: 28px;
    }
  }
}

.services {
  background-color: $light-color;
  position: relative;

  &:before {
    content: '';
    background: url("./images/shape.png");
    height: 101px;
    width: 218px;
    position: absolute;
    bottom: 0;
    right: 20%;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 80px;
      margin-bottom: 64px;

      h3 {
        margin-top: 0;
        font-size: 16px;
        font-family: $font-ralbold;
        color: $grey-color;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        font-family: $font-regular;
        color: $grey-color;
        line-height: 28px;
      }
    }
  }

  .title {
    margin-bottom: 64px;
  }

  .about-btn-area {
    float: left;
  }
}

.clients {

  .clients-slider {
    margin-top: 40px;

    .slick-list {
      margin-bottom: 40px;
    }

    .slick-slide {
      padding: 0 30px;

      .content {
        p {
          font-size: 14px;
          font-family: $font-regular;
          color: $grey-color;
          line-height: 28px;
          background: url("./images/quote-icon.png") no-repeat;
        }
      }

      .client {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .client-name {
          margin-left: 10px;

          h4 {
            font-size: 14px;
            font-family: $font-ralbold;
            color: $dark-grey-color;
            margin-bottom: 2px;
          }

          p {
            font-size: 14px;
            font-family: $font-regular;
            color: $grey-color;
          }
        }
      }
    }
  }
}

.news {
  background-color: $light-color;

  .news-content {
    margin-top: 40px;

    .news-post {
      padding: 0 20px;

      .featured {
        h3 {
          margin-top: 0;
        }

        p {
          margin-bottom: 15px;
        }
      }
    }

    .about-btn-area {
      float: left;
      margin-top: 10px;
    }

    p {
      font-size: 14px;
      font-family: $font-regular;
      color: $grey-color;
      line-height: 28px;
    }

    h3 {
      a {
        font-size: 16px;
        font-family: $font-ralbold;
        color: $dark-grey-color;
        text-transform: uppercase;
      }
    }

    .date {
      font-size: 13px;
      font-family: $font-ralbold;
      text-transform: uppercase;
      color: $orange-color;
      margin-bottom: 14px;
    }
  }
}

.partners {
  .partners-slider {
    margin: 40px 0 20px 0;
  }
}

.slick-dots {
  list-style: none;
  display: flex;

  li {
    margin-right: 6px;
  }

  button {
    background-color: #36a8ff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    text-indent: -999px;
    margin: 0;
    padding: 0;
    border: none;
  }

  .slick-active {
    button{
      background-color: $orange-color;
    }
  }
}