@import "variable";

.single-post {
  display: flex;
  flex-direction: column;

  .main-footer {
    .apss-social-share {
      display: none;
    }
  }

  .post-content {
    .apss-social-share {
      display: flex;
      align-items: center;
      height: 100%;
      margin-top: 40px;

      .apss-share-text {
        margin-left: 0;
        font-size: 14px;
        font-family: $font-regular;
        color: $grey-color;
        text-transform: uppercase;
      }

      a {
        min-height: 36px;
        margin: 6px;
      }
    }
  }
}

.site-main {
  .content {
    padding: 0;

    .comments {
      display: flex;
      justify-content: center;
      background-color: #eaeff3;
      padding: 90px 0;

      ol {
        list-style: none;
        //padding-left: 0;
      }

      .comment-list {
        margin-bottom: 100px;

        .comment-meta {
          display: flex;

          .comment-metadata {
            font-size: 13px;
            font-family: $font-ralbold;
            text-transform: uppercase;

            a {
              color: $orange-color;
            }
          }

          .comment-author {
            display: flex;

            .says {
              display: none;
            }

            .fn {
              margin-right: 10px;
              font-size: 13px;
              font-family: $font-bold;
              color: $dark-grey-color;
              text-transform: uppercase;
            }
          }
        }

        .avatar {
          border-radius: 50%;
        }

        .reply {
          .comment-reply-link {
            display: inline-block;
            background: url("./images/reply.png");
            height: 33px;
            width: 33px;
          }
        }
      }

      .comment-reply-title, .comments-title {
        font-size: 30px;
        font-family: $font-ralbold;
        color: $dark-grey-color;
        text-transform: uppercase;
      }

      .comment-text {
        font-size: 16px;
        font-family: $font-italic;
        color: $dark-grey-color;
        margin-bottom: 48px;
      }

      .comment-notes {
        display: none;
      }

      .comment-form {
        display: flex;
        flex-direction: column;

        #author, #email, #phone, textarea {
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #dce3e8;
        }

        label {
          font-size: 14px;
          font-family: $font-bold;
          color: $grey-color;
          text-transform: uppercase;
        }

        .comment-form-author {
          order: 1;
        }

        .comment-form-email {
          order: 2;
        }

        .comment-form-url {
          display: none;
        }

        .comment-form-phone {
          order: 3;
        }

        .comment-form-comment {
          order: 4;
        }

        .form-submit {
          order: 5;

          .submit {
            color: $orange-color;
            font-size: 13px;
            font-family: $font-ralbold;
            text-transform: uppercase;
            border: 2px solid $orange-color;
            background-color: transparent;
            padding: 12px 24px;
          }
        }
      }
    }
  }
}



