$font-bold: "OpenSansBold", sans-serif;
$font-regular: "OpenSansRegular", sans-serif;
$font-extrabold: "RalewayExtraBold", sans-serif;
$font-ralbold: "RalewayBold", sans-serif;
$font-italic: "LoraItalic", sans-serif;

$dark-grey-color: #1c1c1c;
$light-grey-color: #757575;
$grey-color: #585858;
$orange-color: #ffaf36;
$light-color: #eaeff3;